.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header__contact {
  padding: 0 30px;
  font-size: 16px;
  line-height: 24px;
  color: $light-green;
  text-decoration: none;
}

.header__navigation {
  align-self: stretch;
  background-color: $white-secondary;
  margin-right: 200px;
}

.header__preview {
  top: 0;
  right: 32px;
  position: absolute;
}
