$main-green: #102226;
$light-green: #485b60;
$light-green-secondary: #1c3f3a;
$grey: #b4bbbd;
$grey-border: #dde3e4;
$white: #ffffff;
$white-secondary: #ece8d9;
$beige: #cbc7b5;
$main-font: "Roboto", "Arial", sans-serif;
$secondary-font: "Inter", "Arial", sans-serif

